/* GLOBAL */
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";
@import "./common/visually-hidden.scss";

/* COMPONENTS */
@import "./components/inner-title.scss";
@import "./components/inner-text.scss";
@import "./components/input-text.scss";
@import "./components/button.scss";
@import "./components/special-title.scss";


/* BLOCKS */
/* INDEX */
@import "./blocks/page.scss";
@import "./blocks/main.scss";
@import "./blocks/header.scss";
@import "./blocks/contacts.scss";
@import "./blocks/costs.scss";
@import "./blocks/example.scss";
@import "./blocks/hero.scss";
@import "./blocks/html-academy.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/process.scss";
@import "./blocks/program.scss";
@import "./blocks/programs.scss";
@import "./blocks/slider.scss";
@import "./blocks/social.scss";
@import "./blocks/specs.scss";
@import "./blocks/map.scss";
@import "./blocks/invintation.scss";
@import "./blocks/address.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/logo.scss";


/* CATALOG */
@import "./blocks/catalog.scss";
@import "./blocks/card.scss";
@import "./blocks/all-products.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/additional-product.scss";
@import "./blocks/gift.scss";
@import "./blocks/subscribe.scss";
@import "./blocks/content.scss";

/* FORM */
@import "./blocks/order-groups/order.scss";
@import "./blocks/order-groups/pet-group.scss";
@import "./blocks/order-groups/type-group.scss";
@import "./blocks/order-groups/contact-group.scss";
@import "./blocks/order-groups/comment-group.scss";
@import "./blocks/order-groups/addition-group.scss";
@import "./blocks/order-groups/submit-group.scss";
@import "./blocks/form.scss";
@import "./blocks/form-contacts.scss";
