.input-text {
  display: flex;
  gap: 8px;
}

.input-text__label {
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black-text;
  padding-top: 10px;

  @media (min-width: $tablet) {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
  }
}

.input-text__input {
  height: 45px;
  flex-grow: 1;
  border: 1px solid #e7e7e7;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  text-transform: uppercase;
  // width: 228px;
  min-height: 45px;
  padding: 14px 20px 13px 15px;
  box-sizing: border-box;
}
