.comment-group {
  margin: 0 0 15px;
}

.comment-group__title {
  margin: 0 0 32px;
  padding: 8px 0;
}


.comment-group__input {
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px);
  min-height: 150px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px;
  box-sizing: border-box;
}

.comment-group__input::placeholder {
  color: #444444;
}
