.contact-group__list {
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.contact-group__item {
  gap: 12px;
  margin-bottom: 13px;
}

.contact-group__input {
  padding: 14px 31px 16px 15px;
}
