.order__group {
  margin: 0;
  padding: 0;
  border: none;
}

.order__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  text-transform: uppercase;
}
