.pet-group {
  padding-bottom: 7px;
  border-bottom: 1px solid #e7e7e7;
}

.pet-group__list {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet) {
    margin-left: 70px;
    margin-right: 70px;
  }
}

.pet-group__item {
  display: flex;
  gap: 13px;
  margin-bottom: 14px;
}

.pet-group__input {
}

input::placeholder {
  color: #444444;
}
