.card {
  padding: 20px 20px 25px;
  display: grid;
  grid-template-columns: 140px 1fr;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  gap: 17px 0;
}

.card__link {
  color: #222222;
  text-decoration: none;
}

.card__image {
  padding: 6px 0 0;
  display: block;
}

.card__content {
  padding-top: 4px;
}

.card__title {
  margin: 0 0 14px;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  text-transform: uppercase;
  width: 76px;
}

.card__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card__item {
  font-family: $lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: grid;
  grid-template-columns: 70px 1fr;
}

.card__measure {

}

.card__value {
  text-align: right;
}

.card__button {
  width: 100%;
  margin: 0;
  grid-column: 1 / -1;
  border: none;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

