.catalog {
  padding-top: 27px;
}

.catalog__inner-title {
  margin-bottom: 36px;

  @media (min-width: $tablet) {
    padding: 25px 30px 35px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    padding: 45px 30px 35px 31px;
    margin: 0 auto;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px 0;
    width: 764px;
    margin: 0 auto 48px;

    @media (min-width: $desktop) {
      width: 1220px;
      gap: 12px 80px;
    }
  }
}

.catalog__item {
  @media (min-width: $tablet) {
    width: 324px;
    // min-height: 511px;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop) {
    width: 245px;
  }
}
