.example {
  padding: 37px 0 10px 20px;
  background-color: #eaeaea;

  @media (min-width: $tablet) {
    padding: 47px 0 10px 30px;
  }
}

.example__container {
  @media (min-width: $tablet) {
    display: flex;
    gap: 167px;
    margin-bottom: 80px;
  }
}

.example__header {
  margin: 0 0 40px;
  font-family: $oswald;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 60px;
  }
}

.example__description {
  margin: 0 0 20px;
  width: 286px;

  @media (min-width: $tablet) {
    min-width: 708px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 54px;
  }
}

.example__specs {}
