.example {
  padding: 37px 20px 10px;
  background-color: #eaeaea;
  position: relative;

  @media (min-width: $tablet) {
    padding: 0 0 101px;
    background-color: #eaeaea;
  }

  @media (min-width: $desktop) {
    padding: 0;
    display: block;
    gap: 150px;
    justify-content: center;
  }
}

.example-wrapper {
  @media (min-width: $tablet) {
    background-color: #ffffff;
  }

  @media (min-width: $desktop) {
    width: 514px;
    background-color: #eaeaea;
    padding-top: 69px;
  }
}

.example__container {
  margin-bottom: 19px;

  @media (min-width: $tablet) {
    display: flex;
    gap: 169px;
    margin: 0;
    padding-bottom: 55px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop) {
    display: block;
    margin-bottom: 0;
    background-color: #eaeaea;
    padding-bottom: 42px;
  }
}

.example__slider-container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #ffffff;
    z-index: 1;

    @media (min-width: $tablet) {
      height: 127px;
    }
  }

  @media (min-width: $desktop) {
    margin-top: -140px;
  }
}

.example__header {
  margin: 0 0 40px;
  padding: 0 30px 0 0;
  font-family: $oswald;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 60px;
    padding-top: 47px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    padding: 60px 0 78px;
    background-color: #ffffff;
  }
}

.example__header-text {
  @media (min-width: $desktop) {
    display: block;
    width: 1220px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-right: 500px;
  }
}

.example__block {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }
}

.example__description {
  margin: 0 0 20px;
  // padding: 0 29px;

  @media (min-width: $tablet) {
    min-width: 708px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 54px;
  }

  @media (min-width: $desktop) {
    min-width: unset;
    width: 432px;
    margin: 0 0 70px;
    padding: 0;
  }
}

.example__specs {}

.example__slider {
  margin: 0 auto 40px;
}
