.example {
  padding: 25px 0 10px 20px;
  background-color: #eaeaea;
}

.example__header {
  margin: 0 0 40px;
  font-family: $oswald;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  margin: 0 0 20px;
  width: 286px;

  @media (min-width: $tablet) {
    width: unset;
  }
}

.example__specs {}
