.example {
  padding: 37px 20px 10px;
  background-color: #eaeaea;

  @media (min-width: $tablet) {
    padding: 47px 20px 101px 30px;
  }

  @media (min-width: $desktop) {
    padding: 21px 20px 0 30px;
    display: flex;
    gap: 150px;
  }
}

.example-wrapper {
  @media (min-width: $desktop) {
    width: 436px;
    margin-left: 79px;
  }
}

.example__container {
  margin-bottom: 19px;

  @media (min-width: $tablet) {
    display: flex;
    gap: 167px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop) {
    display: block;
    margin-bottom: 42px;
  }
}

.example__header {
  margin: 0 0 40px;
  font-family: $oswald;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 60px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 145px;
  }
}

.example__description {
  margin: 0 0 20px;

  @media (min-width: $tablet) {
    min-width: 708px;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 54px;
  }

  @media (min-width: $desktop) {
    min-width: unset;
    width: 432px;
    margin: 0 0 70px;
  }
}

.example__specs {}


.example__slider {
  margin: 0 auto 40px;
}
