.form {
  padding-top: 27px;
}

.form__inner-title {
  padding: 0;
  margin: 0 20px;
  margin-bottom: 37px;


  @media (min-width: $tablet) {
    padding: 26px 18px 0 50px;
    margin: 0 20px 54px;
  }
}

.form__inner-text {
  margin-bottom: 42px;

  @media (min-width: $tablet) {
    margin: 0 70px 39px;
  }
}
