.gift {
  margin: 0 auto;
  width: 280px;
  height: 290px;
  background-color: gray;
  background-image:
    image-set(
      url("../../images/gift/gift-background@1x.webp") 1x type("image/webp"),
      url("../../images/gift/gift-background@1x.jpg") 1x type("image/jpeg"),
      url("../../images/gift/gift-background@2x.webp") 2x type("image/webp"),
      url("../../images/gift/gift-background@2x.jpg") 2x type("image/jpeg")
    );
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #68b738;
    opacity: 0.85;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
  }

  @media (min-width: $tablet) {

    width: 100%;
    height: 200px;
    background-image:
      image-set(
        url("../../images/gift/gift-background-t@1x.webp") 1x type("image/webp"),
        url("../../images/gift/gift-background-t@1x.jpg") 1x type("image/jpeg"),
        url("../../images/gift/gift-background-t@2x.webp") 2x type("image/webp"),
        url("../../images/gift/gift-background-t@2x.jpg") 2x type("image/jpeg")
      );
    margin-bottom: 40px;
  }
}


.gift__link {
  text-decoration: none;
  color: #ffffff;
  position: relative;
}

.gift__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 25;
  fill: #ffffff;

  @media (min-width: $tablet) {
    top: 0;
    left: 0;
    transform: none;
    width: 80px;
    height: 83px;
  }
}

.gift__text {
  position: relative;
  z-index: 30;
  padding: 187px 0 0;
  margin: 0 auto;
  font-family: $lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  width: 161px;

  @media (min-width: $tablet) {
    padding: 110px 69px 0 306px;
    text-align: center;
  }
}
