.hero {
  font-family: $oswald;
  text-decoration: none;
  color: $white;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
}

.hero__block {
  padding-bottom: 142px;
  position: relative;
  margin-bottom: 3px;

  &::before {
    content: "";
    width: 280px;
    height: 270px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -140px;
    background: url("../../images/index-can-mobile.png") no-repeat 0 0;
  }
}

.hero__wrapper {
  background-color: red;
  padding: 31px 0 165px;
}

.hero__title {
  font-family: $oswald;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 400;
  width: 270px;
  margin: 0 auto 25px;
}

.hero__subtitle {
  margin: 0;
  font-family: $oswald;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.hero__button {
  text-decoration: none;
  color: $white;
  background-color: $basic-green;
  display: block;
  font-size: 16px;
  line-height: 20px;
  margin: 0 20px;
  font-family: inherit;
  text-transform: uppercase;
  padding: 13px 0 11px;
}
