.invitation__header {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
  }
}

.invitation__address {
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet) {
    font-size: 16px;
    text-align: right;
  }
}
