.invitation__header {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.invitation__address {
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
