.logo-wrapper {
  margin: 39px auto 0;
  width: calc(100% - 40px);
  max-width: $tablet;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
}

.logo {
  display: inline-block;
}

.logo__image {
  display: block;
  margin: 0 auto 16px;
  color: #111111;
  transition: color 0.3s ease;

  &:hover {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }
}
