.main-nav {
  position: relative;

  @media (min-width: $tablet) {
    width: 471px;
    margin-left: auto;
  }

  @media (min-width: $desktop) {
    width: 475px;
    padding-right: 8px;
  }
}

.main-nav__toggle {
  background: url("../../icons/stack.svg#mobile-close-button") no-repeat center center;
  width: 24px;
  height: 24px;
  border: none;
  position: absolute;
  top: -46px;
  right: 21px;
  display: none;
  cursor: pointer;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  display: block;
  background: url("../../icons/stack.svg#menu-nav-mobile") no-repeat 0 0;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  display: block;
  background: url("../../icons/stack.svg#mobile-close-button") no-repeat 0 0;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: flex-end;
    gap: 33px;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop) {
    width: 475px;
    justify-content: flex-start;
    gap: 32px;
  }
}

.main-nav--closed .main-nav__list {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: flex-end;
  }
}

.main-nav--opened .main-nav__list {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  background-color: #ffffff;
  width: 100%;

  @media (min-width: $tablet) {
    display: flex;
    position: static;
  }
}

.main-nav__item {
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    border-top: none;
  }
}

.main-nav__link {
  text-decoration: none;
  color: $black;
  font-family: $oswald;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  padding: 21px 0 24px;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
    padding: 0;
  }

  @media (min-width: $desktop) {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.main-nav__link--current{}
