.main-footer {
  position: relative;
  z-index: 10;
  background: #ffffff;
}

.main-footer-container {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    padding: 45px 10px 0 29px;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
  }
}
