.main-footer {
  position: relative;
  z-index: 10;
  background: #ffffff;
}

.main-footer-container {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    padding: 55px 30px;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    padding: 24px 92px 24px 110px;
  }
}
