.map {
  margin: 0;
  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-bottom: 30px;
  }
}

.map__wrapper {
  @media (min-width: $desktop) {
    position: relative;
    padding: 100px 0;
  }
}

.map__invitation {
  padding: 16px 0 28px 19px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);

  @media (min-width: $tablet) {
    grid-template-columns: 163px 157px;
    justify-content: space-between;
    align-items: center;
    padding: 45px 70px 58px;
  }

  @media (min-width: $desktop) {
    width: 565px;
    height: 199px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 55px 79px;
    position: relative;
    top: 0;
    left: calc(50% - 610px);
    z-index: 50;
  }
}

.map__container {
  position: relative;
  width: 100%;
  min-height: 362px;
  overflow: hidden;

  @media (min-width: $desktop) {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.map__image {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 20;


  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image:
      image-set(
        url("../../images/mobile/location@1x.webp") 1x type("image/webp"),
        url("../../images/mobile/location@2x.webp") 2x type("image/webp"),
        url("../../images/mobile/location@1x.jpg") 1x type("image/jpeg"),
        url("../../images/mobile/location@2x.jpg") 2x type("image/jpeg")
      );
    background-position: 0 -455px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #494747;
    position: absolute;
    z-index: 10;
  }
}
