.process {
  padding: 0 20px 28px;
}

.process__header {
  margin: 0 0 40px;
  font-family: $oswald;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    padding: 39px 9px 0;
  }
}

.process__list {
  margin: 0;
  padding: 0;
  list-style: none;


  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 137px;
    counter-reset: my-counter;
  }
}

.process__item {
  // width: 246px;
  min-height: 60px;

  counter-increment: my-counter;
  margin-bottom: 20px;
  position: relative;
  padding-left: 25px;

  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: $basic-theme;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
  }
}

@media (min-width: $tablet) {
  .process__item::after {
    content: counter(my-counter);
    position: absolute;
    left: 0;
    color: #f2f2f2;

    font-family: $oswald;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
  }
}

.process__item--leaf {
}

.process__item--leaf::after {
  background-image: url("../../icons/stack.svg#process-leaf");
  background-size: 25px 28px;
}

.process__item--pure {
}

.process__item--pure::after {
  background-image: url("../../icons/stack.svg#process-pure");
  background-size: 26px 29px;
}

.process__item--food {
}

.process__item--food::after {
  background-image: url("../../icons/stack.svg#process-food");
  background-size: 25px 30px;
}

.process__item--result {
}

.process__item--result::after {
  background-image: url("../../icons/stack.svg#process-result");
  background-size: 26px 31px;
}


.process__text {
  margin: 0;
  position: relative;
  padding: 0 0 0 53px;
}

// .process__text::before {
//   content: "";
//   width: 60px;
//   height: 60px;
//   position: absolute;
//   top: -4px;
//   left: 0;
//   background-color: $basic-theme;
//   display: block;

//   @media (min-width: $tablet) {
//     width: 80px;
//     height: 80px;
//   }
// }

