.programs {
  @media (min-width: $tablet) {
    margin: 0 30px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.programs__unit {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 18px;
  }
}
