.program {
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  z-index: 0;
  background-color: #f2f2f2;

  @media (min-width: $tablet) {
    padding: 77px 312px 53px 53px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    padding: 77px 61px 55px 52px;
    margin: 0;
  }
}

.program::before {
  content: "";
  width: 50px;
  height: 50px;
  transform: rotate(0deg);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 20px;
  background-color: $basic-theme;
  border-radius: 50%;
  z-index: 10;

  @media (min-width: $tablet) {
    width: 200px;
    height: 200px;
    top: 95px;
    left: unset;
    right: 63px;
  }

  @media (min-width: $desktop) {
    width: 100px;
    height: 100px;
    top: 43px;
    left: 52px;
    right: unset;
  }
}


.program__title {
  margin: 0;
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  position: relative;
  padding-left: 70px;
  padding-top: 10px;
  padding-bottom: 29px;

  @media (min-width: $tablet) {
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop) {
    padding: 0 20px 73px 162px;
    line-height: 36px;
    margin-bottom: 0;
  }
}

.program__text {
  margin: 0;
  padding-bottom: 23px;
  position: relative;
  margin-bottom: 21px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 0 0 58px;
    min-width: 340px;
    min-height: 96px;
    border-bottom: none;
  }

  @media (min-width: $desktop) {
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 30px;
    margin: 0;
    min-width: unset;
    min-height: unset;
    border-bottom: none;
  }
}

.program__link {
  position: relative;
  color: $black;
  text-decoration: none;
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-right: 20px;
  min-width: 116px;
  display: inline-block;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 100%;
  }
}

.program__link::after {
  content: "";
  margin-left: 8px;
  font-size: 14px;
}

.program__link-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 4.5px solid transparent;
  border-bottom: 4.5px solid transparent;
  border-left: 8px solid #000000;
  bottom: 7px;
  right: 11px;
  transition: transform 2s ease, left 2s ease;

  &:hover {
    left: 126px;

    &::before {
      width: 26px;
      left: -34px;
    }

    &:active {
      opacity: 0.3;
      left: 128px;

      &::before {
        width: 26px;
        left: -34px;
      }
    }
  }

  @media (min-width: $tablet) {
    bottom: 9px;
    right: unset;
    left: 149px;

    &:hover {
      transition: left 2s ease;
      left: 158px;

      &::before {
        width: 26px;
        left: -34px;
      }

      &:active {
        opacity: 0.3;
        left: 128px;

        &::before {
          width: 26px;
          left: -34px;
        }
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: -25px;
    top: 50%;
    width: 18px;
    height: 2px;
    background-color: #000000;
    transform: translateY(-50%);
  }
}

.program--slim {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 23px;
    left: 28px;
    width: 36px;
    height: 50px;
    background: url("../../icons/stack.svg#program-cat-slim") no-repeat;
    background-size: contain;
    z-index: 20;

    @media (min-width: $tablet) {
      top: 83px;
      left: unset;
      right: 96px;
      width: 140px;
      height: 194px;
    }

    @media (min-width: $desktop) {
      top: 38px;
      left: 68px;
      right: unset;
      width: 70px;
      height: 97px;
    }
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   height: 1px;
  //   background-color: #d9d9d9;
  //   z-index: 10;
  // }
}

.program--pro {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 33px;
    left: 13px;
    width: 67px;
    height: 28px;
    background: url("../../icons/stack.svg#program-cat-pro") no-repeat;
    background-size: contain;
    z-index: 20;

    @media (min-width: $tablet) {
      top: 139px;
      left: unset;
      right: 25px;
      width: 274px;
      height: 112px;
    }

    @media (min-width: $desktop) {
      top: 67px;
      left: 32px;
      right: unset;
      width: 140px;
      height: 56px;
    }
  }
}
//   &::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     height: 1px;
//     background-color: #d9d9d9;
//     z-index: 10;
//   }
// }

