.specs {
  margin: 0 0 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.specs__block {
  width: 124px;
  min-height: 57px;
  padding: 15px 0 3px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;
}


.specs__parameter {
  margin: 0 0 8px;
  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet) {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
  }
}

.specs__definition {
  font-family: $lato;
  font-weight: 400;
  text-align: center;
  font-size: 12px;
  line-height: 100%;
  vertical-align: middle;

  background-color: #e9e9e9;
  margin: -6px auto;
  width: 81px;
  box-sizing: border-box;
  position: absolute;
  bottom: -9px;
  left: 19px;
}
