.subscribe {
  margin: 0 auto 5px;
  padding: 40px 20px;
  box-sizing: border-box;
  font: inherit;
  color: inherit;

  @media (min-width: $tablet) {
    margin: 0 auto 30px;
  }

  @media (min-width: $desktop) {
    padding: 95px 0;
    width: 1220px;
  }
}

.subscribe__title {
  padding: 0;
  margin: 0 0 32px;
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  position: relative;

  @media (min-width: $tablet) {
    font-size: 32px;
    line-height: 32px;
    padding-left: 49px;
    margin: 0 0 65px;
  }

  @media (min-width: $desktop) {
    font-size: 40px;
    line-height: 40px;
    padding-left: 0;
    margin: 0 0 70px;
  }

  &::after {
    content: "";
    position: absolute;
    right: -20px;
    margin-left: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: calc(50px + 2vw);
    border-top: 2px solid $basic-theme;
  }
}

.subscribe__text {
  padding: 0 0 24px;
  margin: 0;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet) {
    margin: 0 auto;
    width: 632px;
    font-size: 24px;
    line-height: 32px;
  }

  @media (min-width: $desktop) {
    font-size: 24px;
    line-height: 32px;
    width: 660px;
  }
}

.subscribe__form {
  @media (min-width: $tablet) {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

.subscribe__input {
  font-family: $oswald;
  color: inherit;
  background: none;
  border: 1px #cdcdcd solid;
  outline: none;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  width: 100%;
  min-height: 56px;
  padding: 0 12px;
  margin-bottom: 16px;

  @media (min-width: $tablet) {
    width: 376px;
  }

  @media (min-width: $desktop) {
    width: 500px;
  }
}

.subscribe__button {
  margin: 0 auto;
  width: 100%;
  min-height: 56px;
  font-family: $oswald;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;

  @media (min-width: $tablet) {
    width: 256px;
    height: 56px;
    margin: 0;
  }
}
